@mixin sectionSet {
    height: $section-height;
    width: 100%;
    background: map-get($colors, skill-bg);
}
@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}


// 4. Triangle
@mixin triangle($direction :'up' ,$color: #000) {
    display: block;
    width: 220px;
    height: 220px;
    background: $color;

    @if $direction == 'up' {
        clip-path: polygon(50% 0, 100% 100%, 0 100%);
    } @else if $direction == 'down' {
        clip-path: polygon(0 0, 100% 0, 50% 100%);
    } @else if $direction == 'right' {
        clip-path: polygon(0 0, 100% 50%, 0 100%);
    } @else if $direction == 'left' {
        clip-path: polygon(0 50%, 100% 0, 100% 100%);
    }
}

// 5. Fade in animation
@mixin fade-in($duration : 5s) {   
    animation:fadIn  $duration infinite;
    
    @keyframes fadIn {
        0% {
            opacity: 0;         
            @include triangle(up, red);
            transform: scale(0.5);
        }
        25% {
            opacity: .2;            
            @include triangle(right, orange);
            transform: scale(0.7);
        }
        50% {
            opacity: .5;         
            @include triangle(down, yellow);
            transform: scale(1.2);
        }
        75% {
            opacity: .2;         
            @include triangle(left, green);
            transform: scale(0.7);
        }
        100% {
            opacity: 0;        
            @include triangle(up, red);
            transform: scale(0.5);
        }
    }
}


@mixin setColor($bgc, $text) {
    background: map-get($colors, $bgc);

    p {
        color: map-get($colors, $text)
    }
}

