
$colors: (
    "sky": #8ecae6,
    "water": #219ebc,
    "dark": #023047,
    "light": #ffb703,
    "orang": #fb8500,
    "t-light": #fff,
    "t-dark": #222,
    "cyber-green": rgb(3, 194, 3),
    "about-bg": #eee,
    "skill-bg": rgb(73, 70, 70),
    "skill-t": rgb(124, 124, 124),
    "hover": rgb(100, 100, 100),
);


$section-height: 450px;
$nav-height: 30px;
$section-contact-height: 600px;

